/__history/lotek.cpp.~1~
/__history/lotto.cpp.~1~
/__history/lotto.cpp.~2~
/__history/lotto.cpp.~3~
/__history/lotto.cpp.~4~
/__history/lotto.cpp.~5~
/__history/lotto.dfm.~1~
/__history/lotto.dfm.~2~
/__history/lotto.dfm.~3~
/__history/lotto.dfm.~4~
/__history/lotto.dfm.~5~
/__history/lotto.h.~1~
/__history/lotto.h.~2~
/__history/lotto.h.~3~
/__history/lotto.h.~4~
/__history/lotto.h.~5~
/Debug/lotek.#00
/Debug/lotek.exe
/Debug/lotek.map
/Debug/lotek.obj
/Debug/lotek.pch
/Debug/lotek.tds
/Debug/lotto.obj
